CREDENTIALS_FILE = "creds.json"

GH_data = {
	'sofia' : {
		# Можно менять 
		'ROOMS_NUMBER' : 17,
		'needed_avarege_cost' : 1700,        # Желаемый средний чек
		'fora' : 500000,                     # Деньги, заработанные до сезона
		'days_number' : 150,                 # Число рабочих дней
		'range_B' : "'Доход'!B1:B400",
		'range_A' : "'Доход'!A1:A400",
		'spreadsheet_id' : '1uptvUP4Rf5ByNJ2222hlcg0GMhDY24756nRbo5mKCtY',
	},
}
